<div class="container">
    <section class="p-2 pt-2 md-2 p-md-5">
        <div class="card mx-md-5">
            <form class="m-4" [formGroup]="updateVideoForm" (ngSubmit)="onSubmit()">

                <label class="fw-bold" for="">VideoTitle: </label>
                <input formControlName="VideoTitle" [ngClass]="{'is-valid':updateVideoForm.get('VideoTitle')?.valid}"
                    type="text" class="form-control mb-3">
                <div *ngIf="updateVideoForm.get('VideoTitle')?.errors && updateVideoForm.get('VideoTitle')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="updateVideoForm.get('VideoTitle')?.getError('required')" class="m-0">VideoTitle Is
                        Required
                    </p>
                    <p *ngIf="updateVideoForm.get('VideoTitle')?.getError('minlength')" class="m-0">VideoTitle Is min
                        char 3
                    </p>
                </div>

                <app-file-upload formControlName="videoUrl" [title]="'Video'" [fileType]="'Video'"
                    [directory]="courseId"></app-file-upload>
                <div *ngIf="updateVideoForm.get('videoUrl')?.errors && updateVideoForm.get('videoUrl')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="updateVideoForm.get('videoUrl')?.getError('required')" class="m-0">videoUrl Is
                        Required</p>
                    <p *ngIf="updateVideoForm.get('videoUrl')?.getError('pattern')" class="m-0">
                        Invalid file type. Only JPG, PNG and GIF files are allowed.
                    </p>
                </div>

                <button [disabled]="updateVideoForm.invalid" type="submit" class="mt-2 btn background-MainColor w-100">
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    <span *ngIf="!isLoading">Submit</span>
                </button>

            </form>

        </div>

    </section>
</div>