<div class="container">
    <div class="p-2 pt-5 p-md-5">
        <div class="card mx-md-5">

            <div class="text-center my-4">
                <h2>Welcome</h2>
            </div>

            <p style="color: lightslategray; text-align: center; margin-top: 10px">
                Please enter your register details
            </p>
            <form class="m-4" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">




                <label class="fw-bold" for="">code: </label>
                <input formControlName="code" [ngClass]="{'is-valid':resetPasswordForm.get('code')?.valid}" type="code"
                    class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('code')?.errors && resetPasswordForm.get('code')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('code')?.getError('required')" class="m-0">code Is Required</p>
                </div>


                <label class="fw-bold" for="">password: </label>
                <input formControlName="password" [ngClass]="{'is-valid':resetPasswordForm.get('password')?.valid}"
                    type="password" class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('password')?.getError('required')" class="m-0">password Is Required
                    </p>
                    <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')" class="m-0">Password should be
                        6-10
                        chars
                        with 1 uppercase, 1 lowercase & 1 special character</p>
                </div>


                <label class="fw-bold" for="">ConfirmPassword: </label>
                <input formControlName="ConfirmPassword"
                    [ngClass]="{'is-valid':resetPasswordForm.get('ConfirmPassword')?.valid}" type="password"
                    class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('ConfirmPassword')?.errors && resetPasswordForm.get('ConfirmPassword')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('ConfirmPassword')?.getError('required')" class="m-0">
                        ConfirmPassword Is
                        Required</p>
                    <p *ngIf="resetPasswordForm.get('ConfirmPassword')?.getError('math')" class="m-0">password and
                        ConfirmPassword not math
                    </p>
                </div>

                <button [disabled]="this.resetPasswordForm.invalid" type="submit"
                    class="btn background-MainColor w-100">
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

                    <span *ngIf="!isLoading">Submit</span>
                </button>



            </form>
            <div class="card-footer text-right">
                Already have an account?
                <span class="link m-1" [routerLink]="['../Login']">Login</span>
            </div>
        </div>

    </div>
</div>