<div class="container forgotPassword p-md-5 p-2 py-5">
  <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
    <label class="fw-bold" for="">Forgot Password </label>
    <input
      formControlName="email"
      [ngClass]="{ 'is-valid': ForgotPasswordForm.get('email')?.valid }"
      type="email"
      class="form-control mb-3"
      style="border-radius: 0"
    />
    <div
      *ngIf="
        ForgotPasswordForm.get('email')?.errors &&
        ForgotPasswordForm.get('email')?.dirty
      "
      class="alert alert-danger p-1"
    >
      <p
        *ngIf="ForgotPasswordForm.get('email')?.getError('required')"
        class="m-0"
      >
        email Is Required
      </p>
      <p *ngIf="ForgotPasswordForm.get('email')?.getError('email')" class="m-0">
        Enter Valid Email
      </p>
    </div>
    <button
      [disabled]="this.ForgotPasswordForm.invalid"
      type="submit"
      class="btn background-MainColor w-100"
      style="border-radius: 0"
    >
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

      <span *ngIf="!isLoading">Reset Password</span>
    </button>
  </form>
</div>
